

<div class="container">
    <h3>Login Page</h3>
    <div class="text-danger">
        <% if (errors) {%>
        <% errors.forEach(function (error) { %>
        <%= __(error) %>
        <% }) %>
    <% } %>
    </div>

    <form class="form-horizontal" role="form" action="/auth/local" method="post">
      <div class="form-group">
        <label for="inputUsername3" class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputUsername3" name="identifier" placeholder="username or Email">
          <!--<input type="text" class="form-control" id="inputUsername3" name="user[identifier]" placeholder="Username">-->
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-5">
          <!--<input type="password" class="form-control" id="inputPassword3" name="user[password]" placeholder="Password">-->
          <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">登陆</button>
            <a href="/home" class="btn btn-default">随便逛逛</a>
        </div>
      </div>

    </form>

    <h4>第三方登陆：</h4>
    <hr>
    <% Object.keys(providers).forEach(function (key) { %>
    <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
    <% }) %>

</div>
