

<div class="container">
    <h3>欢迎来到 rsmonitor</h3>
    <% if (errors.length > 0) {%>
    <div class="alert alert-danger" role="alert">
        <% errors.forEach(function (error) { %>
        <%= __(error) %>
        <% }) %>
    </div>
    <% } %>
    <br>
    <form role="form" action="/auth/local" method="post">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">用户名:</label>
                <input type="text" class="form-control"  name="identifier" placeholder="用户名 或 注册邮件">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">密码:</label>
                <input type="password" class="form-control" name="password" placeholder="Enter email">
                <a href="/api/user/reset" class="pull-right">忘记密码?</a>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="pull-right">
                <button type="submit" class="btn btn-success">登陆</button>
                <a href="/home" class="btn btn-default">回首页 →</a>
            </div>
        </div>
    </form>


    <!--<form class="form-horizontal" role="form" action="/auth/local" method="post">-->
      <!--<div class="form-group">-->
        <!--<label for="inputUsername3" class="col-sm-2 control-label">用户名</label>-->
        <!--<div class="col-sm-5">-->
          <!--<input type="text" class="form-control" id="inputUsername3" name="identifier" placeholder="username or Email">-->
          <!--&lt;!&ndash;<input type="text" class="form-control" id="inputUsername3" name="user[identifier]" placeholder="Username">&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="inputPassword3" class="col-sm-2 control-label">密码</label>-->
        <!--<div class="col-sm-5">-->
          <!--&lt;!&ndash;<input type="password" class="form-control" id="inputPassword3" name="user[password]" placeholder="Password">&ndash;&gt;-->
          <!--<input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password">-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<div class="col-sm-offset-2 col-sm-10">-->
            <!--<button type="submit" class="btn btn-success">登陆</button>-->
            <!--<a href="/home" class="btn btn-default">回首页 →</a>-->
        <!--</div>-->
      <!--</div>-->

    <!--</form>-->
    <br>
    <br>
    <h4>第三方登陆：</h4>
    <hr>
    <% Object.keys(providers).forEach(function (key) { %>
    <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
    <% }) %>

</div>
