

<div class="container">
    <h3 class="">欢迎注册XX设备云</h3>

    <% if (errors.length > 0) {%>
    <div class="alert alert-danger" role="alert">
        <% errors.forEach(function (error) { %>
        <%= __(error) %>
        <% }) %>
    </div>
    <% } %>

    <form role="form" action="/auth/local/register" method="post">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">用户名:</label>
                <input type="text" class="form-control"  name="username" >
                <!--<input type="text" class="form-control"  name="username" placeholder="用户名">-->
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">密码:</label>
                <!--<input type="password" class="form-control" name="password" placeholder="请输入密码">-->
                <input type="password" class="form-control" name="password" >
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">密码确认:</label>
                <!--<input type="password" class="form-control" name="passwordcomfirm" placeholder="密码确认">-->
                <input type="password" class="form-control" name="passwordcomfirm" >
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="exampleInputEmail1">邮件地址:</label>
                <!--<input type="email" class="form-control" name="email" placeholder="电子邮件地址">-->
                <input type="email" class="form-control" name="email">
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="pull-right">
                <button type="submit" class="btn btn-success btn-sm">注册一个</button>
                <a href="/home" class="btn btn-default">回首页 →</a>
            </div>
        </div>
    </form>



</div>
