

<div class="container">

    <blockquote>
        <h4>感谢您的注册，确认邮件已经发送到 <span class="text-info"><%= email %></span> </h4>
        <h6 class="text-muted">请按照邮件提示进行<mark>账号激活</mark>,如果您使用的是<mark>QQ邮箱</mark>,可将邮件中的链接在浏览器中直接打开</h6>

        <a class="btn btn-default" href="/home">回到首页</a>
        <a class="btn btn-success" href="/login">登陆</a>

    </blockquote>

</div>

