
<div class="container">

    <blockquote>
        <h4 class="text-success">你好，<%= user.username %></h4>

        <div class="row">
            <div class="col-sm-5">
                <form action="/api/user/updatepassword/" method="post">
                    <div class="form-group">
                        <input class="form-control" type="password" name="newpassword" placeholder="请输入你的新密码">
                    </div>
                    <input type="hidden" name="_csrf" >
                    <input type="hidden" name="userid" value=<%= user.id %> >
                    <input type="hidden" name="resettoken" value=<%= user.resetPassToken %> >
                    <button class="btn btn-success" type="submit">确认修改</button>
                </form>
            </div>
        </div>

    </blockquote>




</div>
