

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form action="/api/user/resetemail" method="get">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="请输入注册邮箱地址">
                </div>
                <input class="btn btn-success" type="submit" value="给我发送验证邮件">
            </form>
        </div>
    </div>
</div>