

<div class="container">

    <div class="row">
        <div class="col-md-8">

            <blockquote>
                <h4>确认邮件已经发送到：<span class="text-info"><%= email %></span>，请在<mark>半小时内</mark>重置密码。</h4>

                <h6 class="text-muted">如果您使用的<mark>QQ邮箱</mark>无法跳转，请将邮件中的地址链接直接复制到浏览器中打开</h6>

            </blockquote>

            <a href="/home" class="btn btn-success btn-sm"><- 返回首页</a>
        </div>

    </div>
</div>

