
<div class="container">

    <blockquote>
        <h4>您的密码已经重置成功</h4>
        <a class="btn btn-default" href="/home">回到首页</a>
        <a class="btn btn-success" href="/login">重新登陆</a>

    </blockquote>

</div>



