

mark {
  background: #FFFF8E;
  color: #4A4A4A;
}

.register {
  color:indianred !important;
}

.login {
  color: cornflowerblue !important;
}

.transparent-header {
  background: rgba(253, 255, 242, 0.94);
}



